{{- if .Values.global.images }}
apiVersion: batch/v1
kind: Job
metadata:
  name: mcp-image-preload-{{ .Release.Revision }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: mcp-image-preload
    app.kubernetes.io/name: mcp-image-preload
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: preload
    app.kubernetes.io/version: {{ .Values.global.version }}
    {{- include "mcpcan.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-1000"
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 864000
  template:
    metadata:
      labels:
        app: mcp-image-preload
        {{- include "mcpcan.selectorLabels" . | nindent 8 }}
      annotations:
        mcpcan.io/version: {{ .Values.global.version }}
        mcpcan.io/revision: "{{ .Release.Revision }}"
    spec:
      restartPolicy: OnFailure
      initContainers:
      {{- range $name, $img := .Values.global.images }}
      - name: preload-{{ $name }}
        image: {{- if or (hasPrefix "busybox:" $img) (hasPrefix "mysql:" $img) (hasPrefix "redis:" $img) -}}
                {{ $img }}
                {{- else -}}
                  {{- if $.Values.global.cn -}}
                    {{ $.Values.global.registryForMirrorCN }}/{{ $img }}
                  {{- else -}}
                    {{ $.Values.global.registry }}/{{ $img }}
                  {{- end -}}
                {{- end }}
        imagePullPolicy: {{ $.Values.global.imagePullPolicy }}
        command:
        - /bin/sh
        - -c
        - echo preload {{ $img }}
      {{- end }}
      containers:
      - name: exec
        image: {{ .Values.global.images.busybox }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        command:
        - sh
        - -c
        - echo done
{{- end }}
