apiVersion: v1
kind: ConfigMap
metadata:
  name: mcp-kubeconfig
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
data:
  kubeconfig.yaml: |
    apiVersion: v1
    kind: Config
    clusters:
      - name: cluster
        cluster:
          certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          server: https://kubernetes.default.svc
    users:
      - name: sa-user
        user:
          tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    contexts:
      - name: market-context
        context:
          cluster: cluster
          user: sa-user
          namespace: {{ .Release.Namespace }}
    current-context: market-context
